openapi: 3.0.3
info:
  title: OpenPipe Chat Check Cache API
  description: The public API for reporting API calls to OpenPipe
  version: 0.1.1
servers:
- url: https://api.openpipe.ai/api/v1
tags:
- name: Check Cache
paths:
  /check-cache:
    post:
      operationId: checkCache
      description: 'DEPRECATED: we no longer support prompt caching.'
      security:
      - Authorization: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requestedAt:
                  type: number
                  description: Unix timestamp in milliseconds
                reqPayload:
                  description: JSON-encoded request payload
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: 'Extra tags to attach to the call for filtering. Eg { "userId": "123", "prompt_id": "populate-title" }'
                  default: {}
              required:
              - requestedAt
              additionalProperties: false
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  respPayload:
                    description: JSON-encoded response payload
                additionalProperties: false
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      tags:
      - Check Cache
components:
  responses:
    error:
      description: Error response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              code:
                type: string
              issues:
                type: array
                items:
                  type: object
                  properties:
                    message:
                      type: string
                  required:
                  - message
                  additionalProperties: false
            required:
            - message
            - code
            additionalProperties: false
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
