openapi: 3.0.3
info:
  title: OpenPipe Chat Unstable API
  description: The public API for reporting API calls to OpenPipe
  version: 0.1.1
servers:
- url: https://api.openpipe.ai/api/v1
tags:
- name: Unstable
paths:
  /unstable/dataset/create:
    post:
      operationId: unstableDatasetCreate
      description: 'DEPRECATED: use the `/datasets` endpoint instead'
      security:
      - Authorization: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
              additionalProperties: false
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  datasetId:
                    type: string
                required:
                - datasetId
                additionalProperties: false
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      tags:
      - Unstable
  /unstable/dataset/delete:
    post:
      operationId: unstableDatasetDelete
      description: 'DEPRECATED: use the `/datasets/{dataset}` endpoint instead'
      security:
      - Authorization: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                datasetId:
                  type: string
              required:
              - datasetId
              additionalProperties: false
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  datasetId:
                    type: string
                required:
                - datasetId
                additionalProperties: false
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      tags:
      - Unstable
  /unstable/dataset/list:
    get:
      operationId: unstableDatasetList
      description: 'DEPRECATED: use the `/datasets` endpoint instead'
      security:
      - Authorization: []
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    createdAt:
                      type: string
                      format: date-time
                    updatedAt:
                      type: string
                      format: date-time
                    datasetEntryCount:
                      type: number
                    fineTuneCount:
                      type: number
                  required:
                  - id
                  - name
                  - createdAt
                  - updatedAt
                  - datasetEntryCount
                  - fineTuneCount
                  additionalProperties: false
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      tags:
      - Unstable
  /unstable/dataset-entry/create:
    post:
      operationId: unstableDatasetEntryCreate
      description: 'DEPRECATED: use the `/datasets/{dataset}/entries` endpoint instead'
      security:
      - Authorization: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                datasetId:
                  type: string
                entries:
                  type: array
                  items:
                    type: object
                    properties:
                      messages:
                        type: array
                        items:
                          anyOf:
                          - type: object
                            properties:
                              role:
                                type: string
                                enum:
                                - system
                              content:
                                anyOf:
                                - type: string
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - text
                                      text:
                                        type: string
                                    required:
                                    - type
                                    - text
                                    additionalProperties: false
                                default: ''
                              name:
                                type: string
                            required:
                            - role
                            additionalProperties: false
                          - type: object
                            properties:
                              role:
                                type: string
                                enum:
                                - user
                              content:
                                anyOf:
                                - type: string
                                - type: array
                                  items:
                                    anyOf:
                                    - type: object
                                      properties:
                                        type:
                                          type: string
                                          enum:
                                          - text
                                        text:
                                          type: string
                                      required:
                                      - type
                                      - text
                                      additionalProperties: false
                                    - type: object
                                      properties:
                                        type:
                                          type: string
                                          enum:
                                          - image_url
                                        image_url:
                                          type: object
                                          properties:
                                            detail:
                                              anyOf:
                                              - type: string
                                                enum:
                                                - auto
                                              - type: string
                                                enum:
                                                - low
                                              - type: string
                                                enum:
                                                - high
                                            url:
                                              type: string
                                          required:
                                          - url
                                          additionalProperties: false
                                      required:
                                      - type
                                      - image_url
                                      additionalProperties: false
                                    - type: object
                                      properties:
                                        type:
                                          type: string
                                          enum:
                                          - input_audio
                                        input_audio:
                                          type: object
                                          properties:
                                            data:
                                              type: string
                                            format:
                                              type: string
                                              enum:
                                              - wav
                                              - mp3
                                          required:
                                          - data
                                          - format
                                          additionalProperties: false
                                      required:
                                      - type
                                      - input_audio
                                      additionalProperties: false
                                default: ''
                              name:
                                type: string
                            required:
                            - role
                            additionalProperties: false
                          - type: object
                            properties:
                              role:
                                type: string
                                enum:
                                - assistant
                              audio:
                                type: object
                                properties:
                                  id:
                                    type: string
                                required:
                                - id
                                additionalProperties: false
                                nullable: true
                              content:
                                anyOf:
                                - type: string
                                - type: array
                                  items:
                                    anyOf:
                                    - type: object
                                      properties:
                                        type:
                                          type: string
                                          enum:
                                          - text
                                        text:
                                          type: string
                                      required:
                                      - type
                                      - text
                                      additionalProperties: false
                                    - type: object
                                      properties:
                                        type:
                                          type: string
                                          enum:
                                          - refusal
                                        refusal:
                                          type: string
                                      required:
                                      - type
                                      - refusal
                                      additionalProperties: false
                                - enum:
                                  - 'null'
                                  nullable: true
                                default: null
                              function_call:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    default: ''
                                  arguments:
                                    type: string
                                    default: ''
                                additionalProperties: false
                                nullable: true
                              tool_calls:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    function:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                        arguments:
                                          type: string
                                      required:
                                      - name
                                      - arguments
                                      additionalProperties: false
                                    type:
                                      type: string
                                      enum:
                                      - function
                                  required:
                                  - id
                                  - function
                                  - type
                                  additionalProperties: false
                                nullable: true
                              name:
                                type: string
                              refusal:
                                type: string
                                nullable: true
                              annotations:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                      - url_citation
                                    url_citation:
                                      type: object
                                      properties:
                                        start_index:
                                          type: number
                                        end_index:
                                          type: number
                                        title:
                                          type: string
                                        url:
                                          type: string
                                      required:
                                      - start_index
                                      - end_index
                                      - title
                                      - url
                                      additionalProperties: false
                                  required:
                                  - type
                                  - url_citation
                                  additionalProperties: false
                            required:
                            - role
                            additionalProperties: false
                          - type: object
                            properties:
                              role:
                                type: string
                                enum:
                                - developer
                              content:
                                anyOf:
                                - type: string
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - text
                                      text:
                                        type: string
                                    required:
                                    - type
                                    - text
                                    additionalProperties: false
                                default: ''
                              name:
                                type: string
                            required:
                            - role
                            additionalProperties: false
                          - type: object
                            properties:
                              role:
                                type: string
                                enum:
                                - tool
                              content:
                                anyOf:
                                - type: string
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - text
                                      text:
                                        type: string
                                    required:
                                    - type
                                    - text
                                    additionalProperties: false
                                default: ''
                              tool_call_id:
                                type: string
                            required:
                            - role
                            - tool_call_id
                            additionalProperties: false
                          - type: object
                            properties:
                              role:
                                type: string
                                enum:
                                - function
                              name:
                                type: string
                              content:
                                anyOf:
                                - type: string
                                - enum:
                                  - 'null'
                                  nullable: true
                            required:
                            - role
                            - name
                            - content
                            additionalProperties: false
                      rejected_message:
                        type: object
                        properties:
                          reasoning_content:
                            type: string
                            nullable: true
                          content:
                            type: string
                            nullable: true
                            default: null
                          refusal:
                            type: string
                            nullable: true
                          role:
                            type: string
                            enum:
                            - assistant
                          function_call:
                            type: object
                            properties:
                              name:
                                type: string
                                default: ''
                              arguments:
                                type: string
                                default: ''
                            additionalProperties: false
                            nullable: true
                          tool_calls:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                function:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    arguments:
                                      type: string
                                  required:
                                  - name
                                  - arguments
                                  additionalProperties: false
                                type:
                                  type: string
                                  enum:
                                  - function
                              required:
                              - id
                              - function
                              - type
                              additionalProperties: false
                            nullable: true
                        required:
                        - role
                        additionalProperties: false
                      function_call:
                        anyOf:
                        - type: string
                          enum:
                          - none
                        - type: string
                          enum:
                          - auto
                        - type: object
                          properties:
                            name:
                              type: string
                          required:
                          - name
                          additionalProperties: false
                      functions:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            parameters:
                              type: object
                              additionalProperties: {}
                            description:
                              type: string
                            strict:
                              type: boolean
                              nullable: true
                          required:
                          - name
                          additionalProperties: false
                      tool_choice:
                        anyOf:
                        - type: string
                          enum:
                          - none
                        - type: string
                          enum:
                          - auto
                        - type: string
                          enum:
                          - required
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - function
                              default: function
                            function:
                              type: object
                              properties:
                                name:
                                  type: string
                              required:
                              - name
                              additionalProperties: false
                              default:
                                name: ''
                          additionalProperties: false
                      tools:
                        type: array
                        items:
                          type: object
                          properties:
                            function:
                              type: object
                              properties:
                                name:
                                  type: string
                                parameters:
                                  type: object
                                  additionalProperties: {}
                                description:
                                  type: string
                                strict:
                                  type: boolean
                                  nullable: true
                              required:
                              - name
                              additionalProperties: false
                            type:
                              type: string
                              enum:
                              - function
                          required:
                          - function
                          - type
                          additionalProperties: false
                      response_format:
                        anyOf:
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - text
                          required:
                          - type
                          additionalProperties: false
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - json_object
                          required:
                          - type
                          additionalProperties: false
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - json_schema
                            json_schema:
                              type: object
                              properties:
                                name:
                                  type: string
                                description:
                                  type: string
                                schema:
                                  type: object
                                  additionalProperties: {}
                                strict:
                                  type: boolean
                                  nullable: true
                              required:
                              - name
                              additionalProperties: false
                          required:
                          - type
                          - json_schema
                          additionalProperties: false
                      split:
                        type: string
                        enum:
                        - TRAIN
                        - TEST
                      judgement:
                        type: string
                        enum:
                        - PASS
                        - FAIL
                      metadata:
                        type: object
                        additionalProperties:
                          type: string
                    required:
                    - messages
                    additionalProperties: false
                  minItems: 1
                  maxItems: 100
              required:
              - datasetId
              - entries
              additionalProperties: false
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  createdEntries:
                    type: number
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: number
                        message:
                          type: string
                      required:
                      - index
                      - message
                      additionalProperties: false
                required:
                - createdEntries
                - errors
                additionalProperties: false
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      tags:
      - Unstable
  /unstable/finetune/create:
    post:
      operationId: unstableFinetuneCreate
      description: DEPRECATED
      security:
      - Authorization: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                datasetId:
                  type: string
                slug:
                  type: string
                baseModel:
                  type: string
                  description: 'The base model to fine-tune from. Supported models include: meta-llama/Meta-Llama-3.1-8B-Instruct, meta-llama/Meta-Llama-3.1-70B-Instruct'
                overrides:
                  type: object
                  properties:
                    is_sft_enabled:
                      type: boolean
                      default: true
                    batch_size:
                      anyOf:
                      - type: string
                        enum:
                        - auto
                      - type: number
                    learning_rate_multiplier:
                      type: number
                    num_epochs:
                      type: number
                    is_preference_tuning_enabled:
                      type: boolean
                    preference_tuning_variant:
                      anyOf:
                      - type: string
                        enum:
                        - DPO
                      - type: string
                        enum:
                        - APO Zero
                    preference_tuning_learning_rate_multiplier:
                      type: number
                    preference_tuning_num_epochs:
                      type: number
                    preference_tuning_training_beta:
                      type: number
                    preference_tuning_adapter_weight:
                      type: number
                  additionalProperties: false
                  default: {}
              required:
              - datasetId
              - slug
              - baseModel
              additionalProperties: false
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                required:
                - id
                additionalProperties: false
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      tags:
      - Unstable
  /unstable/finetune/get:
    get:
      operationId: unstableFinetuneGet
      description: 'DEPRECATED: use the `/models/{model}` endpoint instead'
      security:
      - Authorization: []
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: string
      - name: slug
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    anyOf:
                    - type: string
                      enum:
                      - PENDING
                    - type: string
                      enum:
                      - STARTED
                    - type: string
                      enum:
                      - TRANSFERRING_TRAINING_DATA
                    - type: string
                      enum:
                      - TRAINING
                    - type: string
                      enum:
                      - DEPLOYING
                    - type: string
                      enum:
                      - DEPLOYED
                    - type: string
                      enum:
                      - ERROR
                    - type: string
                      enum:
                      - DEPRECATED
                    - type: string
                      enum:
                      - PENDING_DEPRECATION
                    - type: string
                      enum:
                      - QUEUED
                    - type: string
                      enum:
                      - PROVISIONING
                  slug:
                    type: string
                  baseModel:
                    type: string
                  errorMessage:
                    type: string
                    nullable: true
                  datasetId:
                    type: string
                  createdAt:
                    type: string
                required:
                - id
                - status
                - slug
                - baseModel
                - errorMessage
                - datasetId
                - createdAt
                additionalProperties: false
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      tags:
      - Unstable
  /unstable/finetune/delete:
    post:
      operationId: unstableFinetuneDelete
      description: 'DEPRECATED: use the `/models/{model}` endpoint instead'
      security:
      - Authorization: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                slug:
                  type: string
              additionalProperties: false
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: string
                required:
                - deleted
                additionalProperties: false
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      tags:
      - Unstable
components:
  responses:
    error:
      description: Error response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              code:
                type: string
              issues:
                type: array
                items:
                  type: object
                  properties:
                    message:
                      type: string
                  required:
                  - message
                  additionalProperties: false
            required:
            - message
            - code
            additionalProperties: false
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
